/* import */
@import url(./components/picture.css);
@import url(./components/button.css);
@import url(./components/burger.css);


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --light-red: hsl(356, 100%, 66%); /*(CTA text)*/
  --very-light-red: hsl(355, 100%, 74%); /*(CTA hover background)*/
  --very-dark-blue: hsl(208, 49%, 24%); /*(headings)*/
  --white: hsl(0, 0%, 100%); /*(text)*/
  --grayish-blue: hsl(240, 2%, 79%); /*(footer text)*/
  --very-dark-grayish-blue: hsl(207, 13%, 34%); /*(body copy)*/
  --very-dark-black-blue: hsl(240, 10%, 16%); /*(footer background)*/

  /* Background gradient - Intro/CTA mobile nav: */
  --very-light-red-intro: hsl(13, 100%, 72%);
  --light-red-intro: hsl(353, 100%, 62%);

  /* Background gradient - body: */
  --very-dark-gray-blue: hsl(237, 17%, 21%);
  --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Overpass";
  margin: 0;
  width: 100%;
  color: var(--very-dark-desaturated-blue);
  font-size: 14px;
}

.card-start {
  background-color: var(--very-light-red-intro);
  color: var(--white);
  font-family: "Overpass";
  border-bottom-left-radius: 100px;
  height: 600px;
  background-image: url("../images/bg-pattern-intro.svg");
}

.card-pink-text h1 {
  font-size: 35px;
  padding: 0 30px;
  margin-bottom: 0;
}

.card-pink-text p {
  font-size: 18px;
  padding: 0 30px;
}


.card-future .designed-for{
  margin: 65px 0;
  color: var(--very-dark-blue);
}

.card-future h2 {
  font-size: 28px;
  padding: 0 35px;
  margin: 15px 0;
}

.card-future p {
  padding: 0 25px;
  margin-top: 0;
  font-size: 16px;
  color: var(--very-dark-desaturated-blue);
  font-weight: 300px;
  letter-spacing: 1px;
  opacity: 0.8;
  line-height: 30px;
}

.introducing-para {
  margin-bottom: 45px;
}

.robust-para {
  margin-bottom: 320px;
}

.card-blue {
  background: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  color: var(--white);
  height: 500px;
  padding-top: 150px;
  position: relative;
  z-index: 2;
}

.card-blue h2 {
  padding: 0 35px;
  font-size: 40px;
  margin-bottom: 8px;
  margin-top: 90px;
}

.card-blue p {
  font-size: 15px;
  opacity: 0.6;
  margin: 0;
  font-weight: lighter;
  line-height: 30px;
  letter-spacing: 1px;
  padding: 10px 25px;
}

.card-source h2 {
  font-size: 28px;
  padding: 0 35px;
  margin-top: 35px;
  margin-bottom: 15px;
}

.card-source p {
  font-size: 15px;
  opacity: 0.6;
  margin: 0;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
  padding: 10px 25px;
}

.card-source .batteries {
  margin-bottom: 80px;
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-black-blue);
  color: var(--white);
  height: 950px;
  border-top-right-radius: 85px;
}

.footer h4 {
  font-size: 18px;
  font-family: "Ubuntu";
  font-weight: 500;
}

.footer .list {
  margin: 25px 0;
  line-height: 35px;
  opacity: 0.6;
  font-weight: 300;
}

.list-end {
  margin-bottom: 70px;
}