/* import */
@import url(./components/picture.css);
@import url(./components/button.css);
@import url(./components/burger.css);


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --light-red: hsl(356, 100%, 66%); /*(CTA text)*/
  --very-light-red: hsl(355, 100%, 74%); /*(CTA hover background)*/
  --very-dark-blue: hsl(208, 49%, 24%); /*(headings)*/
  --white: hsl(0, 0%, 100%); /*(text)*/
  --grayish-blue: hsl(240, 2%, 79%); /*(footer text)*/
  --very-dark-grayish-blue: hsl(207, 13%, 34%); /*(body copy)*/
  --very-dark-black-blue: hsl(240, 10%, 16%); /*(footer background)*/

  /* Background gradient - Intro/CTA mobile nav: */
  --very-light-red-intro: hsl(13, 100%, 72%);
  --light-red-intro: hsl(353, 100%, 62%);

  /* Background gradient - body: */
  --very-dark-gray-blue: hsl(237, 17%, 21%);
  --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Overpass";
  margin: 0;
  color: var(--very-dark-desaturated-blue);
  font-size: 14px;
}


nav {
  visibility: hidden;
}

.card-start {
  background-color: var(--very-light-red-intro);
  color: var(--white);
  font-family: "Overpass";
  border-bottom-left-radius: 100px;
  height: 600px;
  background-image: url("../images/bg-pattern-intro.svg");
}

.card-pink-text h1 {
  font-size: 35px;
  padding: 10px 45px;
}

.card-pink-text p {
  font-size: 18px;
  padding: 0 55px;
}

.card-future h2 {
  font-size: 28px;
  margin: 25px 35px;
}

.designed-for{
  padding-top: 65px;
  color: var(--very-dark-blue);
}

.introducing {
  padding: 0 55px;
  margin-bottom: 0;
}

.introducing-para {
  margin-top: 0;
  margin-bottom: 45px;
}

.robust-para {
  margin-bottom: 300px;
}

.card-future p {
  font-size: 16px;
  color: var(--very-dark-desaturated-blue);
  font-weight: lighter;
  opacity: 0.8;
  line-height: 30px;
  padding: 0 50px;
}

.card-blue {
  background-color: var(--very-dark-gray-blue);
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  color: var(--white);
  height: 500px;
  padding-top: 200px;
  position: relative;
  z-index: 1;
}

.card-blue h2 {
  padding: 5px 35px;
  font-size: 38px;
  margin-bottom: 0;
}

.card-blue p {
  font-size: 15px;
  opacity: 0.6;
  margin-bottom: 45px;
  font-weight: lighter;
  line-height: 30px;
  letter-spacing: 1px;
  padding: 10px 40px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-black-blue);
  color: var(--white);
  height: 500px;
  border-top-right-radius: 85px;
}
