.menu-burger {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 40px;
  padding-top: 25px;
  padding-bottom: 45px;
}

.menu-burger .blogr {
  width: 85px;
}

.icon-burger {
  position: absolute;
  right: 25px;
  cursor: pointer;
}

