.screen {
  height: 340px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 24px;
}

.phone {
  background-image: url("../../images/illustration-phones.svg");
  background-size: cover;
  top: 322%;
  z-index: 3;
  position: absolute;
  height: 400px;
  width: 100%;
}

.underneath {
  background-image: url("../../images/bg-pattern-circles.svg");
  background-size: cover;
  position: absolute;
  top: -13%;
  right: -120px;
  width: 620px;
  height: 630px;
  z-index: 2;
}

.computer {
  width: 100%;
  object-fit: cover;
  height: 380px;
  margin-top: 65px;
  object-fit: cover;
}

.foot-blogr {
  background-image: url("../../images/logo.svg");
  width: 100px;
  height: 40px;
  margin: 40px 75px;
}

