.screen {
  height: 340px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 24px;
}

.phone {
  background-image: url("../../images/illustration-phones.svg");
  background-size: cover;
  top: 310%;
  z-index: 30;
  position: absolute;
  height: 400px;
  width: 100%;
}

.underneath {
  background-image: url("../../images/bg-pattern-circles.svg");
  background-size: cover;
  position: absolute;
  image-orientation: 90deg flip;
  top: -36%;
  right: -120px;
  opacity: 0.6;
  width: 610px;
  height: 620px;
  z-index: 20;
}

.computer {
  width: 100%;
  object-fit: cover;
  height: 380px;
  margin-top: 65px;
  object-fit: cover;
}

.foot-blogr {
  background-image: url("../../images/logo.svg");
  width: 100px;
  height: 40px;
  margin: 40px 75px;
}

